.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
}

.black-bar {
    width: 100%;
    background-color: black;
    min-height: .2em;
}

.mybox {
    min-height: 6em;

}

.selfie {
    background-image: url("../Images/me.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 25em;
    border: 1px black solid;
    
}
